
body {
    font-family: 'Montserrat', sans-serif;
   
}

#title {
    background-color: #ff4c68;
}

.container-fluid {
    padding: 5% 10%;
}

.titlediv {
    padding-bottom: 0rem;
}

.navbar {
    padding: 2%;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 4.1rem;
}

.nav-item {
    padding-right: 3%;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    size: 3.1rem;
    line-height: 1.5;
    color: white;
    padding-top: 10%;
    padding-bottom: 5%;
}

.apple-ico {
    font-size: 1.3rem;
}

.android-ico {
    font-size: 1rem;
}

.download-button {
    margin: 1rem 0.1rem;

}

.iphoneimagediv {
    text-align: center;
    transform-origin: center;
    transform: rotate(9deg);
   
}

.iphoneimage {
    margin-top: 10%;
    width: 70%;
    /* filter: drop-shadow(5mm 6mm 1rem rgb(73, 70, 71)); */
    filter: drop-shadow(2mm 2mm 0.5rem rgb(73, 70, 71));
}

#features {
    text-align: center;
    background-color: #ffff;
}

.feature-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.feature-icon {
    font-size: 4rem;
    color: #ff4c68;
}

.feature {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.icon-hover:hover {
    color: #e793a0;
}

.testimonialsdiv {
    text-align: center;
    background-color: #ff4c68;
}

.testimonial-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    padding: 10% 0;
}

.testimonial-image {
    width: 45%;
    border-radius: 100%;
    padding:3%;
    
}

.testpictext {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.0rem;
}

#press {
    text-align: center;
    background-color: #ffffff;
}

.pressimage{
    width: 80%;
    padding: 10% 0;
}