body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

#title {
    background-color: #ff4c68;
}

.container-fluid {
    padding: 5%;
}

.titlediv {
    padding-bottom: 0rem;
}

.navbar {

    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 4.5rem;
}

.nav-item {
    padding: 0 1rem;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    size: 3.5rem;
    line-height: 1.5;
    color: white;

}

.download-button {
    margin: 1rem 0.1rem;

}

.iphoneimagediv {
    transform-origin: center;
    transform: rotate(9deg);
    padding: 0;
    max-width: 10%;
}

.iphoneimage {
    height: 80%;
    /* filter: drop-shadow(5mm 6mm 1rem rgb(73, 70, 71)); */
    filter: drop-shadow(2mm 2mm 0.5rem rgb(73, 70, 71));
}



#features {
    text-align: center;
}

.feature-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.feature-icon {
    font-size: 4rem;
    color: #ff4c68;
}

.feature {}

.feature-hover {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.icon-hover:hover {
    color: #e793a0;
}