body {
    font-family: 'Montserrat', sans-serif;

}

#title {
    background-color: #ff4c68;
}


.container-fluid {
    padding: 5% 5%;
}

.titlediv {
    padding-bottom: 0rem;
}

.navbar {
    padding: 2%;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 4.1rem;
}

@media (max-width: 1024px){
    .titlerow > h1 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        size: 3.1rem;
        line-height: 1.5;
        color: white;
        padding-top: 10%;
        padding-bottom: 15%;
        padding-left: 3%;
    }
}

.nav-item {
    padding-right: 3%;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin-left: 1%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    size: 3.1rem;
    line-height: 1.5;
    color: white;
    padding-top: 10%;
    padding-bottom: 15%;
    padding-left: 3%;
}

.apple-ico {
    font-size: 1.3rem;
}

.android-ico {
    font-size: 1rem;
}

.download-button {
    margin: 3% 1%;
    padding: 2% 6%;
    font-weight: 700;

}

.iphoneimagediv {
    text-align: center;
    transform-origin: left;
    transform: rotate(9deg);
    position: relative;
    z-index: 0;
    margin-right: 5%;

}

.iphoneimage {
    margin-top: 10%;
    padding: 0;
    width: 65%;
    /* filter: drop-shadow(5mm 6mm 1rem rgb(73, 70, 71)); */
    filter: drop-shadow(2mm 2mm 0.5rem rgb(73, 70, 71));
}

#features {
    text-align: center;
    background-color: #ffff;
    position: relative;
}

.feature-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.feature-icon {
    font-size: 4rem;
    color: #ff4c68;
}

.feature {
    padding-top: 5%;
    padding-bottom: 5%;
}

.feature>p {
    font-size: 1.1rem;
}

.icon-hover:hover {
    color: #e793a0;
}

#testimonials {
    text-align: center;
    background-color: #ff4c68;
    padding: 0% 0%;

}

.testimonial-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    
}

.testimonial-image {
    width: 30%;
    border-radius: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 3%;

}

.carousel-item {
   
    padding: 1% 5%;
}



.testpictext {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.0rem;
}

#press {
    text-align: center;
    background-color: #ffffff;
}

.pressimage {
    width: 80%;
    padding: 10% 0;
}



#pricing {
    background-color: #ff4c68;
    text-align: center;
    padding: 5%;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
}

/* .pricebtn{
    width: 100%;
} */

.card {
    margin-top: 15%;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-radius: 5%;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 1.1rem;
    font-weight: 700;
}


.pricingheader {
    padding-top: 0%;
    padding-bottom: 3%;
    padding-left: 3%;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

.pricingtext {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    padding-top: 3%;
}

.gold {
    color: black;
    background-color: gold;
    font-weight: 700;
}

.silver {
    color: white;
    background-color: silver;
    font-weight: 700;
}

.bronze {
    color: white;
    background-color: sienna;
    font-weight: 700;
}

.card-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 900;
    color: #ff4c68;
}

.card-header>h3 {
    padding-top: 3%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 900;
}

.card-body>h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    padding-bottom: 3%;
}

#cta {
    background-color: #ff4c68;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 8%;
    color: white;
}

#cta>h3 {
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 900;
}

#footer {
    text-align: center;
    background-color: #ffffff;
    
    padding: 1%;
}

#footer>p {
    font-family: 'Montserrat', sans-serif;
    padding-top:2%;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
